## Pertemuan 4 Pandas 13
- #### sumber : https://youtu.be/XPnqfKc0BrQ

### Konversi Nilai Numberik ke dalam kategori pada Pandas data Frame

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

### Persiapan Data Frame

In [5]:
n_rows = 10
n_cols = 1
cols = ('usia',)

df = pd.DataFrame(np.random.randint(1,99, size=(n_rows, n_cols)),
                 columns = cols)
df

   usia
0    36
1    31
2    48
3     2
4    52
5    60
6    46
7    81
8    38
9    55

### Pengelompokkan nilai numerik ke dalam beberapa kategori menggunakan `cut()`

In [6]:
df['kelompok_usia'] = pd.cut(df['usia'], 
                             bins = [0,18,65,99],
                            labels = ['anak', 'dewasa','manula'])
df

   usia kelompok_usia
0    36        dewasa
1    31        dewasa
2    48        dewasa
3     2          anak
4    52        dewasa
5    60        dewasa
6    46        dewasa
7    81        manula
8    38        dewasa
9    55        dewasa

- `cut(df[])` digunakan untuk **pemotongan pada bagian tertentu dan tidak perlu menggunakan loopingan.**
- `df[]` digunakan untuk **membuat kolom baru**. 
- `bins = []` digunakan untuk **menentukan range**nya.
- `labels = []` digunakan untuk **menentukan value**nya.
- pada contoh diatas penentuannya di lakukan dengan cara : - - value ke 1 dan kedua pada bins akan dipakai untuk menentukan value pada labelsnya 
- contoh : bins = 0, 18 dan labels = anak kalau di bacanya value 0-18 pada usia akan di tulis anak pada kolom kelompok_usia