## Pertemuan 7 Pandas 28
- ### Sumber : https://youtu.be/rjIemakdp4M
- ### Mengenal `explode` and `implode` list pada data frame

In [1]:
import pandas as pd
print(pd.__version__)

1.1.3

In [8]:
d = {'team':['DC','Marvel'],
        'Heroes' : [['Batman','Superman','Wonder Woman',
                     'Aquaman','Green Lantern','Shazam'],
                    ['Iron Man','Captain America','Ant-man',
                    'Black Pather','Captain Marvel']]}

df = pd.DataFrame(d)
df

     team                                             Heroes
0      DC  [Batman, Superman, Wonder Woman, Aquaman, Gree...
1  Marvel  [Iron Man, Captain America, Ant-man, Black Pat...

- tipe datanya masih list pada kolom heroes.

### Explode.

In [9]:
df1 = df.explode('Heroes')
df1

     team           Heroes
0      DC           Batman
0      DC         Superman
0      DC     Wonder Woman
0      DC          Aquaman
0      DC    Green Lantern
0      DC           Shazam
1  Marvel         Iron Man
1  Marvel  Captain America
1  Marvel          Ant-man
1  Marvel     Black Pather
1  Marvel   Captain Marvel

- `explode('val_cols')` digunakan untuk membuat baris tersendiri atau memecah isi list menjadi baris yang berbeda.

### Implode.

### Data Frame 2

In [10]:
d = {'team':['DC','Marvel']}
df2 = pd.DataFrame(d)
df2

     team
0      DC
1  Marvel

In [12]:
df2['Imploded'] = df1.groupby(df1.index)['Heroes'].agg(list)
df2

     team                                           Imploded
0      DC  [Batman, Superman, Wonder Woman, Aquaman, Gree...
1  Marvel  [Iron Man, Captain America, Ant-man, Black Pat...

- `imploaded` digunakan untuk pengelompokan data dalam satu `list`, `list` dapat dibuat dengan `.agg()` atau agregasi atau kata lainnya disatukan.
- `groupby()` digunakan untuk mengelompokan data.