## Pertemuan 8 Pandas 30
### Sumber : https://youtu.be/5GnsXm8ANts
### Akses nilai variable pada `query()`

In [5]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.4
1.20.1

### Data Frame

In [4]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')
df = pd.DataFrame(np.random.randint(1,20, size=(n_rows,n_cols)),
                 columns = cols)
df

    A   B   C   D  E
0  17   1  10  17  7
1  16   8  16   3  1
2   7  17  13   3  5
3   1  14  14  19  8
4   9   4   8   4  8

### Akeses Nilai variable pada `query()`

In [7]:
df.query('A > 5')

    A   B   C   D  E
0  17   1  10  17  7
1  16   8  16   3  1
2   7  17  13   3  5
4   9   4   8   4  8

In [9]:
rerata = df['A'].mean()
rerata

10.0

In [11]:
df.query('A > @rerata')

    A  B   C   D  E
0  17  1  10  17  7
1  16  8  16   3  1

- `query('val_cols > val_int')` 
> digunakan untuk melakukan seleseksi baris.
- `df['val_cols'].means()` 
> digunakan untuk melakukan rata rata pada kolom
- `query('val_cols > @var')`
> digunakan untuk mengakses suatu variable untuk quary