# Pertemuan 8 Pandas 29

### Sumber : https://youtu.be/vo7FNR50Bew
### Melakukan random sampling pada pandas data frame

In [1]:
import pandas as pd
print(pd.__version__)

1.2.4

### data frame

In [2]:
d = {'col_1':[1,2,3,4,5],
    'col_2':[10,20,30,40,50]}
df = pd.DataFrame(d)
df

   col_1  col_2
0      1     10
1      2     20
2      3     30
3      4     40
4      5     50

### Random sampling with / without replacement

In [4]:
df.sample(n=4, replace = False, random_state = 0)

   col_1  col_2
2      3     30
0      1     10
1      2     20
3      4     40

In [5]:
df.sample(n =4, replace = True, random_state = 0)

   col_1  col_2
4      5     50
0      1     10
3      4     40
3      4     40

- `sample(param1, param2, param3)`
> - parameter kesatu yaitu `n = val` diguanakan untuk memberikan jumlah data yang mau disample.
> - paramater kedua yaitu `repace = val_bool` digunakan untuk data akan di sample. bila `False` melakuakn sampling tanpa replacement, data tidak akan di sampling, bila `True` maka data bisa di sampling ulang 
> - paramater ketiga yaitu `random_state = val_int`diguankan untuk digunakan menjamin sebuah eksperimen dapat di lakukan ulang dengan hasil  yang sama persis.