# Pertemuan 9 Pandas 34
## Sumber : https://youtu.be/Z5pG34OOXi0
## Mapping pada Data Frame dengan `applymap()`

In [2]:
import pandas as pd
print(pd.__version__)

1.2.4

In [3]:
df = pd.DataFrame({'jenis_kelamin' :['Pria','Wanita','lelaki','Lelaki','Perempuan'],
                  'usia':[23,21,24,22,21],
                  'shift':['pagi','siang','Malam','Siang','pagi']})
df

  jenis_kelamin  usia  shift
0          Pria    23   pagi
1        Wanita    21  siang
2        lelaki    24  Malam
3        Lelaki    22  Siang
4     Perempuan    21   pagi

## Mapping pada Data Frame dengan `applymap()`

In [4]:
df = df.applymap(lambda x: x.lower() if type(x) == str else x)
df

  jenis_kelamin  usia  shift
0          pria    23   pagi
1        wanita    21  siang
2        lelaki    24  malam
3        lelaki    22  siang
4     perempuan    21   pagi

Fungsi `applymap(lambda x : x.lower() if type(x) == str else x)`
> - penggunaan `applymap()` digunakan untuk mengubah dataframe ke dalam bentuk yang di tentukan. 
> - `lambda x :` digunakan untuk mengseleksi semua data yang mau diubah,  
> - `x.lower()` untuk meberitahu apa yang mau di ubah secara keseluruhan,
> - berikan fungsi `if` untuk menspesifikasikan data yang mau di ubah pada contohnya menggunkan `if type(x) == str` digunakan untuk menggubah data yang bertipe `string`
> - dan `else` digunakan untuk sisa data yang tidak memenuhi syarat dari fungsi `if`

### `applymap()` dengan dictionary

In [5]:
mapping = {'pria' : 'L',
          'lelaki' : 'L',
          'wanita' : 'P',
          'perempuan' : 'P',
          'pagi' :1,
          'siang':2,
          'malam':3}
df.applymap(mapping.get)

  jenis_kelamin  usia  shift
0             L  None      1
1             P  None      2
2             L  None      3
3             L  None      2
4             P  None      1

In [6]:
df[['jenis_kelamin','shift']] = df[['jenis_kelamin','shift']].applymap(mapping.get)
df

  jenis_kelamin  usia  shift
0             L    23      1
1             P    21      2
2             L    24      3
3             L    22      2
4             P    21      1

- method `applymap()` akan dikenakan untuk keseluruhan data.