# Pertemuan 10 Pandas 38
## Sumber : https://youtu.be/Ma74pd1yNkM
## Mengenal Parameter `header` dan `skiprows`

In [1]:
import pandas as pd
print(pd.__version__)

1.2.4

## Data Frame

In [7]:
df = pd.read_csv('./iris_error.csv')
df.head(8)

    1            5.1           3.5            1.4           0.2   Iris-error
0   2            4.9           3.0            1.4           0.2   Iris-error
1  Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
2   1            5.1           3.5            1.4           0.2  Iris-setosa
3   2            4.9           3.0            1.4           0.2  Iris-setosa
4   3            4.7           3.2            1.3           0.2   Iris-error
5   4            4.6           3.1            1.5           0.2   Iris-error
6   5            5.0           3.6            1.4           0.2  Iris-setosa
7   6            5.4           3.9            1.7           0.4  Iris-setosa

In [6]:
df = pd.read_csv('./iris_error.csv', header=2, skiprows=[5,6])

df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   5            5.0           3.6            1.4           0.2  Iris-setosa
3   6            5.4           3.9            1.7           0.4  Iris-setosa
4   7            4.6           3.4            1.4           0.3  Iris-setosa

- `head(val)` untuk menunjukan mengatur banyaknya data, nilai defultnya yaitu 5 atau 5 baris.
- `header=val` digunakan untuk menentukan baris atau index yang akan digunakan untuk header pada data set, header juga akan mengkip index data yang ada diatasnya.
- `skiprows=[val_skip,val_skip]` digunakan untuk melakukan skip pada row pada index tertentu.