#  Pertemuan 12 Pandas 47
## sumber : https://youtu.be/E-WoMJx-bNk
## kolom dengan mixed Data Types

In [1]:
import pandas as pd
print(pd.__version__)

1.2.4

## Data Frame

In [2]:
d = {'nama':['bejo','tejo','wati','tiwi','cecep'],
    'ipk':[2,'3',3,2.75,'3.25']}
df = pd.DataFrame(d)
df

    nama   ipk
0   bejo     2
1   tejo     3
2   wati     3
3   tiwi  2.75
4  cecep  3.25

## Deteksi dan penanganan kolom dengan tipe data beragam (mixed data types)

In [3]:
df.dtypes

nama    object
ipk     object
dtype: object

In [4]:
df['ipk'].apply(type)

0      <class 'int'>
1      <class 'str'>
2      <class 'int'>
3    <class 'float'>
4      <class 'str'>
Name: ipk, dtype: object

`apply(type)` digunakan untuk melihat tipe data pada kolom ipk.

In [6]:
df['ipk'].apply(type).value_counts()

<class 'str'>      2
<class 'int'>      2
<class 'float'>    1
Name: ipk, dtype: int64

`value_counts()` digunakan untuk menghitung banyak tipe data yang berbeda|

In [7]:
df['ipk'] = df['ipk'].astype(float)

`astype()` digunakan untuk membuat tipe datanya menjadi seragam

In [8]:
df['ipk'].apply(type).value_counts()

<class 'float'>    5
Name: ipk, dtype: int64