# Pertemuan 13 Pandas 49
## Sumber : https://youtu.be/M7tjEMqfpwQ
## Seleksi kolom dengan F-String

In [1]:
import pandas as pd
print(pd.__version__)

1.2.4

### Data Frame

In [3]:
df = pd.read_csv('./iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

### Seleksi kolom dengan `f-string`

In [4]:
df['SepalWidthCm'].to_frame().head()

   SepalWidthCm
0           3.5
1           3.0
2           3.2
3           3.1
4           3.6

- `to_frame()` digunakan untuk merapihkan data.
- `head()` digunakan untuk menampilkan lima data awal

In [6]:
part = 'Sepal'
df[f'{part}WidthCm'].to_frame().head()

   SepalWidthCm
0           3.5
1           3.0
2           3.2
3           3.1
4           3.6

- `f'{val1}val2'` digunakan untuk melakukan formating. untuk menggunakan formating dari variable lain menggunakan `f''`
- untuk memasukan data tambahan maka menggunakan `{}`

In [8]:
df[['PetalWidthCm','PetalLengthCm']].head()

   PetalWidthCm  PetalLengthCm
0           0.2            1.4
1           0.2            1.4
2           0.2            1.3
3           0.2            1.5
4           0.2            1.4

- melakukan selesi dua kolom sekaligus dapat menggunakan dua kurung siku. kurung siku ke dua digunakan untuk memasukan nama-nama kolom.
- tidak perlu mennggunakan `to_frame()` karena sudah menggunakan dua kolom sehingga sudah terbentuk framenya.

In [9]:
part='Petal'
df[[f'{part}WidthCm',f'{part}LengthCm']].head()

   PetalWidthCm  PetalLengthCm
0           0.2            1.4
1           0.2            1.4
2           0.2            1.3
3           0.2            1.5
4           0.2            1.4

kombinasi dari menggunakan dua kolom sekaligus dan menggunakan formating. dengan parameternya `[f'{valformating}val_col1,f'{valformating}val_col2]'`