# Pertemuan 14 Pandas 54
## Sumber : https://youtu.be/-u5Yvlt5RvI
## Menghitung Jumlah Baris menurut Kriteria

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.4
1.20.1

### Data Frame

In [5]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,10,size=(n_rows, n_cols)),
                 columns = cols)
df

   A  B  C  D  E
0  4  5  5  7  4
1  7  3  5  7  6
2  3  8  8  2  7
3  9  1  9  3  9
4  1  7  3  8  1
5  3  6  9  1  1
6  9  3  6  6  9
7  5  5  2  2  8
8  5  3  5  4  2
9  2  8  7  6  9

### Menghitung jumlah baris menurut kriteria tertentu

In [6]:
(df['A']<5).sum()

5

- `(df['A']<5)` perlu ada pengampit. bacanya pada data kolom A kurang dari 5, lalu di sum.

In [7]:
(df['A']<5).mean()

0.5

- `(df['A']<5)` perlu adanya pengampit, bacanya pada data kolom a yang kurang dari 5, lalu di cari meannya.